@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

html,body{
margin: 0;
height: 100%;
}
body{
    background-color: #131518;
    color: #FFFFFF;
    font-family: 'Overpass', sans-serif;
    display: grid;
    place-items: center;
}

#Ratting-card{
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    display: grid;
    width: 40vh;
    height: 40vh;
    border-radius: 35px;
}

.star-border{
    display: grid;
    height: 40px;
    width: 40px;
    background-color: #262E38;
    border-radius: 50%;
    place-items: center;
}
p{
    color: #969FAD;
    font-weight: 400;
}
h2{
    font-weight: 700;
}

.btn-ratting-number{
    display: block;
    height: 50px;
    width: 50px;
    background-color: #262E38;
    border-radius: 50%;
    border: none;
    outline:none;
    cursor: pointer;
    color: #969FAD;
}
.btn-ratting-number-active {
    display: block;
    height: 50px;
    width: 50px;
    background-color: #FC7614;
    border-radius: 50%;
    border: none;
    outline:none;
    cursor: pointer;
    color: #FFFFFF;
}

.btn-ratting-number:hover{
    background-color: #7C8798;
    color: #FFFFFF;
}

.btn-Submit{
    width: 35vh;
    height: 3.5vh;
    border-radius: 50px;
    border: none;
    outline:none;
    cursor: pointer;
    background-color: #FC7614;
    color: #FFFFFF;
}
.btn-Submit:hover{
    background-color: #FFFFFF;
    color: #FC7614;
}
.Ratting-Result-background {
    display: grid;
    height: 3vh;
    width: 20vh;
    background-color: #262E38;
    border-radius: 50px;
    place-items: center;
    color: #FC7614;
}

.Ratting-card-parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    }
    
.Ratting-card-child-star 
{ 
    grid-area: 3 / 2 / 3 / 2;
    place-self: center;
  }
.Ratting-card-child-header { 
    grid-area: 4 / 2 / 4 / 11; 
}
.Ratting-card-child-paragraph { 
    grid-area: 5 / 2 / 5 / 11;
    place-self: center;
}
.Ratting-card-child-ratting-1 { 
    grid-area: 6 / 1 / 6 / 3;
    place-self: center;
 }
.Ratting-card-child-ratting-2 { 
    grid-area: 6 / 3 / 6 / 5;
    place-self: center;
}
.Ratting-card-child-ratting-3 { 
    grid-area: 6 / 5 / 6 / 7;
    place-self: center;
}
.Ratting-card-child-ratting-4 {
     grid-area: 6 / 7 / 6 / 9;
     place-self: center;
  
}
.Ratting-card-child-ratting-5 { 
    grid-area: 6 / 9/ 6 / 11;
    place-self: center;
}
.Ratting-card-child-submit { 
    grid-area: 8 / 1 / 8 / 11;
    place-self: center;
}


.FeedBack-Card-Parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3,1fr);
    }
    
.FeedBack-Card-child-image { 
    grid-area: 2 / 2 / 2 / 2;
    place-self: center; 
}
.FeedBack-Card-child-Ratting { 
    grid-area: 3 / 2 / 3 / 2;
    place-self: center; 
}
.FeedBack-Card-child-Header { 
    grid-area: 4 / 2 / 4 / 2;
    place-self: center; 
}
.FeedBack-Card-child-paragraph { 
    grid-area: 5 / 2 / 5 /2 ;
    place-self: center;
    align-items: center;
 }
